.home{
  background: color($colors, primary);
  color: color($colors, light);
  margin-top: 10px;
}

.toolbar-title{
  text-align: center;
}

.tabs-md .tab-button-icon{
  color: #ccc;
}

.temp{
  text-align: center;
  font-weight: normal;
}

.location, .icon, .desc{
  font-size: 25px;
  text-align: center;
}

.icon img{
  width: 100px;
}

